# setuptools==56.2.0
# protobuf==3.20.3
# protoc-wheel-0==23.3
# temporalio==1.2.*

# SSA management library
git+https://${GITLAB_DEPLOY_USERNAME}:${GITLAB_SSA_MANAGER_DEPLOY_TOKEN}@gitlab.inesctec.pt/cpes/european-projects/interconnect/hems/custom-hems-libraries/ssa-manager.git@v3.3.0
